{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% if update is defined %}
        {% form_theme formUpdate 'bootstrap_5_layout.html.twig' %}

        {{ form_start(formUpdate) }}
        {{ form_widget(formUpdate) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(formUpdate) }}

    {% else %}

        {% form_theme form 'bootstrap_5_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
{#        <div class="dropdown">#}
{#            <button class="btn btn-secondary dropdown-toggle mb-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                Choisissez le genre#}
{#            </button>#}
{#            {% for categories in categorie %}#}
{#            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">#}
{#                <li><a class="dropdown-item" href="#">{{ categorie.categories_id  }}</a></li>#}
{#            </ul>#}
{#            {% endfor %}#}
{#        </div>#}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}

    {% endif %}

{# if else for edit and delete 02.14.51 #}

{% endblock %}